﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
	ViewData["Title"] = "Admin Control Panel";
	var currentUser = await UserManager.GetUserAsync(User);
	var userName = currentUser.name == null ? "Unknown" : currentUser.name;
}

<h1 class="text-center">Welcome, @userName</h1>
<div class="row text-center mt-5 gap-5 justify-content-center">
	<div class="col-sm-3 col-12 border border-light-subtle p-5">
		<h3>you can take your exams by pressing the below button</h3>
		<a type="button" class="btn btn-primary mt-3" asp-area="" asp-controller="Student" asp-action="TakeExam">Start new Exam</a>
	</div>
	<div class="col-sm-3 col-12 border border-light-subtle p-5">
		<h3>you can see all the exams you took by pressing below button</h3>
		<a type="button" class="btn btn-primary mt-3" asp-area="" asp-controller="student" asp-action="ExamsHistory">Current users</a>
	</div>
	<div class="col-sm-3 col-12 border border-light-subtle p-5">
		<h3>you can change your information by pressing below button</h3>
		<a type="button" class="btn btn-primary mt-3" asp-area="" asp-controller="Studnet" asp-action="Settings">Settings</a>
	</div>
</div>
